.backgroundCanvas{
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: fixed;
     background-color: #be202d;
     pointer-events: none;
}

.splashLogo{
     width: 60%;
     height: 45%;
     position: fixed;
     left: 20%;
     top: 25%;
     pointer-events: none;
}

.popUp{
     height: 85%;
     width: 80%;
     margin: 10%;
     padding: 10%;
     border-radius: 10px;
     background: #ffffff;
     box-shadow: 2px 2px 3px #666;
     -webkit-box-shadow: 2px 2px 3px #666;
     -moz-box-shadow: 2px 2px 3px #666;
     opacity: 0;
     position: fixed;

     animation: fadeIn 500ms;
     animation-delay: 5s;
     animation-fill-mode: forwards;

     -webkit-animation: fadeIn 500ms;
     -webkit-animation-delay: 5s;
     -webkit-animation-fill-mode: forwards;

     -moz-animation: fadeIn 500ms;
     -moz-animation-delay: 5s;
     -moz-animation-fill-mode: forwards;
}

@keyframes fadeIn{
     from{opacity: 0; pointer-events: none;}
     to{opacity: 1; pointer-events: auto;}
}

@-webkit-keyframes fadeIn{
     from{opacity: 0; pointer-events: none;}
     to{opacity: 1; pointer-events: auto;}
}

@-moz-keyframes fadeIn{
     from{opacity: 0; pointer-events: none;}
     to{opacity: 1; pointer-events: auto;}
}

.loginLogo{
     width: 80%;
     height: 50%;
     left: 10%;
     position: relative;
     margin-bottom: 5%;
}

.loginForm{
     width: 100%;
     height:30px;
     position: relative;
     margin-top: 5%;
     margin-bottom: 5%;
     border-width: 5px;
     border-color: black;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     box-shadow: 2px 2px 3px #666;
     -webkit-box-shadow: 2px 2px 3px #666;
     -moz-box-shadow: 2px 2px 3px #666;
}

.loginButton{
     width: 40%;
     height: 30px;
     left: 10%;
     position: relative;
     margin-top: 10%;
     border-width: 1px;
     border-color: black;
     background: #be202d;
     background: linear-gradient(bottom, #80161f, #be202d);
     background: -moz-linear-gradient(bottom, #80161f, #be202d);
     background: -webkit-linear-gradient(bottom, #80161f, #be202d);
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     -webkit-box-shadow: 2px 2px 3px #666;
     -moz-box-shadow: 2px 2px 3px #666;
     box-shadow: 2px 2px 3px #666;
}